<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eat the Alphabet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98D295062DED1E4D008374A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D295132DED1E4E008374A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D2951D2DED1E4E008374A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
